body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}
.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 7px solid;
  border-radius: 70px;
  background-color: rgb(210, 208, 208);
  padding: 30px;
}
.display {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 2px rgb(117, 11, 11);
  margin-bottom: 25px;
}
.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
.start-button {
  background-color: green;
}
.start-button:hover {
  background-color: lightblue;
}
.stop-button {
  background-color: red;
}
.stop-button:hover {
  background-color: black;
}
.reset-button {
  background-color: blue;
}
.reset-button:hover {
  background-color: lightgreen;
}
